@charset "utf-8";
/* CSS Document */

p{
font-family: 'Avenir', Times, Times New Roman, serif;
}

h1 {
	font-size: 36px;
	margin-top:50px;
	font-weight: bold;
	font-family: 'Avenir', Times, Times New Roman, serif;
	color:#afb74f; 
	text-align: center;
  }

#container{

	background-color: white;

  }
#herbs
{
  height:50%;
  width:50%;
  text-align: center;
}

body {
	/* background-color: blanchedalmond; */
}

.semiTran {
	opacity: 0.9;
}

input[type=number] {
	width: 80px;
}

.hidden {
	display: none;
}

.DatabaseTable {
	width: 100%;
}

th, td {
	border-bottom: 1px solid lightgray;
	padding: 10px;
}

tr:nth-child(even) {
	/* background-color: lightseagreen; */
}
