h1 {
  font-size: 36px;
  margin-top:50px;
  font-weight: bold;
  font-family: 'Avenir', Times, Times New Roman, serif;
  color: green; 
  text-align: center;
}

h2 {
  font-size: 30px;
  margin-top:50px;
  font-weight: bold;
  font-family: 'Avenir', Times, Times New Roman, serif;
  color: green; 
  text-align: center;
}

#herbs
{
  height:100%;
  width:100%;
  text-align: center;
}

input
{
  margin-right: 10px;
  margin-left:25px;
  margin-top:5px;
}

nav
{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  
  }

  .navbar-default .navbar-brand {
    color: #777;
}

ul.dropdown-content.select-dropdown li span {
  color: #afb74f; /* no need for !important :) */
}




