.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #afb74f;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.page-footer
{
 background-color:rgb(175,183,79) !important;
 padding-top: 20px !important;
 padding-bottom: 20px !important;
 text-align: center !important;
 color: white !important;
}